<div class="row">
  <div class="col-xs-12">
    <%= simple_form_for @location, html: { class: 'form-horizontal' },
      wrapper: :horizontal_form,
      wrapper_mappings: {
          boolean: :horizontal_boolean
      }, remote: true do |f| %>
      <% if @location.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@location.errors.count, "error") %> prohibited this hotel from being saved:</h2>

          <ul>
            <% @location.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.input :address, placeholder: 'Enter Address' %>
      <%= f.input :description, placeholder: 'Enter Description' %>
      <%= f.input :title, placeholder: 'Enter Title' %>
      <%= f.submit 'Add', class: 'btn btn-default' %>
    <% end %>

  </div>
</div>


